<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd        
						http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


	<!-- 新闻类别服务类 -->
	<dubbo:reference id="newsTypeAppService" interface="com.news.common.project.app.NewsTypeAppService" />
	<!-- 用户服务类 -->
	<dubbo:reference id="newsUserAppService" interface="com.news.common.project.app.NewsUserAppService" />
</beans>