<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.news.handle.dao.NewsCollectDtoMapper">
	<resultMap id="BaseResultMap" type="com.news.common.project.dto.NewsCollectDto">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="NEWS_ID" property="newsId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, USER_ID, NEWS_ID
	</sql>
	<delete id="delete" parameterType="com.news.common.project.dto.NewsCollectDto">
	    delete from NEWS_COLLECT
		where USER_ID = #{userId,jdbcType=VARCHAR} and NEWS_ID = #{newsId,jdbcType=VARCHAR}
	</delete>
	<select id="getByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select 	 
		<include refid="Base_Column_List" />
		from NEWS_COLLECT
		where USER_ID = #{userId,jdbcType=VARCHAR}
	</select>
	<select id="select" resultMap="BaseResultMap"
		parameterType="com.news.common.project.dto.NewsCollectDto">
		select
		<include refid="Base_Column_List" />
		from NEWS_COLLECT
		where 1=1
		<if test="id != null and id !=''">
			and ID = #{id,jdbcType=VARCHAR}
		</if>
		<if test="userId != null and userId !=''">
			and USER_ID = #{userId,jdbcType=VARCHAR}
		</if>
		<if test="newsId != null and newsId !=''">
			and NEWS_ID = #{newsId,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from NEWS_COLLECT
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from NEWS_COLLECT
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.news.common.project.dto.NewsCollectDto">
		insert into NEWS_COLLECT (ID, USER_ID, NEWS_ID
		)
		values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
		#{newsId,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.news.common.project.dto.NewsCollectDto">
		insert into NEWS_COLLECT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="newsId != null">
				NEWS_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="newsId != null">
				#{newsId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.news.common.project.dto.NewsCollectDto">
		update NEWS_COLLECT
		<set>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="newsId != null">
				NEWS_ID = #{newsId,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.news.common.project.dto.NewsCollectDto">
		update NEWS_COLLECT
		set USER_ID = #{userId,jdbcType=VARCHAR},
		NEWS_ID = #{newsId,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>