<div riot-tag="feedBox">
	<div class="feedBox" name="feedbox">
		<div class="tt-declare">以下内容由今日头条提供</div>
		<div class="tt-related-title">相关推荐</div>
		<div riot-tag="relatedFeed" ban="false" empty="false" page_type="2">
			<div class="relatedFeed">
				<ul>
					<li ga_event="feed_item_click" class="item  " ad_id="" ad_track="">
						<span id="ad_extra" style="display: none;"></span>
						<div class="item-inner y-box">
							<div class="normal rbox ">
								<div class="rbox-inner">
									<div class="title-box" ga_event="video_title_click">
										<a class="link title" target="_blank"
											href="/item/6407965920530022913/">女神当场卸妆，看见素颜后，所有人都沉默了</a>
									</div>
									<div class="y-box footer">
										<div class="y-left">
											<a class="lbtn comment" target="_blank"
												ga_event="video_comment_click"
												href="/item/6407965920530022913//#comment_area">&nbsp;1517评论&nbsp;</a>
											<span class="lbtn">⋅&nbsp;2017-04-12 12:21</span>
										</div>
										<div class="y-right">
											<span class="dislike" data-groupid="6393429145929777409"
												ga_event="video_dislike_click"> 取消收藏 </span>
										</div>
									</div>
								</div>
							</div>
							<div class="lbox" ga_event="video_img_click">
								<a class="img-wrap" target="_blank"
									href="/item/6407965920530022913/"> <img alt=""
									src="http://p3.pstatp.com/list/190x124/1bfc0002649ba169de8c">
									<i class="ftype video"> <span>03:25</span>
								</i>
								</a>
							</div>
						</div>
					</li>
					<li ga_event="feed_item_click" class="item  " ad_id="" ad_track="">
						<span id="ad_extra" style="display: none;"></span>
						<div class="item-inner y-box">
							<div class="normal rbox ">
								<div class="rbox-inner">
									<div class="title-box" ga_event="article_title_click">
										<a class="link title" target="_blank"
											href="/item/6393113329958650369/">他是中国第一个入狱的童星，星途明朗却无奈打得一手烂牌</a>
									</div>
									<div class="y-box footer">
										<div class="y-left">
											<a class="lbtn comment" target="_blank"
												ga_event="article_comment_click"
												href="/item/6393113329958650369//#comment_area">&nbsp;25评论&nbsp;</a>
											<span class="lbtn">⋅&nbsp;2017-03-03 11:44</span>
										</div>
										<div class="y-right">
											<span class="dislike" data-groupid="6393108539070267650"
												ga_event="article_dislike_click"> 取消收藏 </span>
										</div>
									</div>
								</div>
							</div>
							<div class="lbox" ga_event="article_img_click">
								<a class="img-wrap" target="_blank"
									href="/item/6393113329958650369/"> <img alt=""
									src="http://p3.pstatp.com/list/190x124/1780000c35fcf648309a">
								</a>
							</div>
						</div>
					</li>
					<!--riot placeholder-->
				</ul>
			</div>
		</div>
	</div>
</div>